#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.python
2.ruby
3.scala
4.c++
5.R

Some of the popular languages that Data Scientists use are:

1.python 
2.ruby 
3.scala 
4.c++ 
5.R

List popular languages for Data Science
- python
- ruby
- scala

Some of the popular libaraies that Data Scientists use are:

1. Numpy
2. sci-lit
3. panda

| Data Science Tools |
|--------------------|
|Anaconda|
|Jupyter Notebook and Lab|
|R Launguage|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author 
Maheshwari